html,body{
    width: 100%;
    height: 100%;

}
body{
    margin: 0;
}
.UlMenu{
    list-style: none;
    padding: 0;
}
.buttonMenu img{
    width: 45px;
    padding: 20px;

}
.circle{
    width: 90px;
    height: 82px;
    background-color: white;
    align-items: center;
    display: block;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
}
.checkMenu{
    display: none;
}
.checkMenu:checked ~ .retangleMenu{
    transform: translateX(350px);
}
.checkMenu:checked ~ .icone{
    transform: translateX(275px);
}
.retangleMenu{
    background-color: #049DD9;
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition-duration: 0.5s;
}
.blocksLinks{
    right: 40px;
    display: block;
    padding: 30px 15px;
    color: white;
    text-decoration: none;
    font: bold 14pt Arial;

}
.blocksLinks:hover{
    background-color: #1AB6D9;
}
.icone{
    margin-top: 75px;
    padding: 30px;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
}
.UlMenu{

    position: absolute;
    width: 100%;
}
.title {
    margin-top: 8px;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.548);
    color: #083359;
}
/* corpo da pagina com as informações */

.cabecalho{
    position: relative ;
    top: 0%;
    width: 100%;
    height: 80px;
    background-color:#004362;
    margin-bottom: 90px;
    position: fixed;
    z-index: -1;
}

.infoHeadrer img{
    width: 80px;
    display: inline-block;
    float: right;
    margin-right:35px ;
}

.infoHeadrer h2{
    font: bold 19pt Arial;
    display: inline-block;
    float: right;
    margin: 26px 35px;
    color: white;
}

.infosMain{
    top: 80px;
    width: 100%;
    height:85%;
    transition-duration: 0.5s;
    position: relative;
    overflow: auto;
}
.checkMenu:checked ~ .infosMain{
    transform: translateX(350px);  
    width: 81.7%;
}

.centralinfos{
	margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0 ;
    position: relative;
    
}
    
.chamado{
    position: absolute;
    width: 1200px;
    min-width: 200px;
    max-width: 1200px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #00000088;
    font: normal 12pt Arial;
}
.titleID{
    margin: 20px 0 20px 100px;
    font: bold 14pt Arial;
    color:#004362;
    font-style: italic;
    width: 600px;
}
.titleDesc{
    margin: 0px 0 0px 50px;
    font-weight: bold;
}
.descInfo{
    margin: 10px 0 20px 50px;
}