html,body{
    width: 100%;
    height: 100%;
}
body{
    background: url(./../Background/Tela2.jpg) no-repeat center fixed ;
    background-size: cover;
    margin: 0%;
}
.fullpage{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.blocksolid{
    width: 800px;
    height: 1920;
    min-height: 1080px;
    max-height: 2100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font: optional;
    float: right;
    align-items: center;
    padding: 10px;

    animation-name: go-back;
    animation-duration: 1s;
}

@keyframes go-back{
    from {
        transform: translateX(800px);
      } to {
        transform: translateX(0);
      }
    } 


.blocksolid2{
    margin-top: 50px;
    width: 70%;
    height: 650px;
    padding: 10px;
    min-width: 600px;
    max-height: 650px;
    /* background-color:#30d6ff; */
    background-color:#dfdfdf;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 50px  rgba(0, 0, 0, 0.39);
    gap: 50px;
}

.title {
    margin: 40px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
    color: #004261;
    text-shadow: 5px 2px 5px  #9b9b9b;

}

.title2{
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    color: #004261;
    height: 60px;    
    /* border-bottom: 3px solid #9ee8ff; */
    border-bottom: 3px solid #d1d1d1;
    text-shadow: 1px 1px 2px  #24242473;
    
}
.formularioMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.formdiv1{
    width: 89%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.formdiv1 input{
    font-size: 14px;
    width: 250px;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 8px 0 8px 8px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
#sebrenome{
    margin: 0 0 0 14px;
}
.formdiv1 label{
    font: bold 12pt Arial;
    color: #004261;
}
.inputvalue{
    margin: 20px 0;
}
.formdiv2{
    width: 89%;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.formdiv2 input{
    font-size: 14px;
    width: 98%;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding: 8px 0 8px 8px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
.formdiv2 label{
    font: bold 12pt Arial;
    color: #004261;
}
.formdiv2 .inputvalue2{
    margin-bottom: 30px;
}

.dormdiv3{
    width: 89%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.dormdiv3 input{
    font-size: 14px;
    width: 250px;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 8px 0 8px 8px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
.dormdiv3 label{
    font: bold 12pt Arial;
    color: #004261;
}
#confirmsenha{
    margin: 0 0 0 14px;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.btn{
    width: 500px;
    background: #004362;
    text-align: center;
    border-radius: 8px;
    border: none;
    padding: 15px;
    color: white;
    font: bold 11pt Arial;
    
}
.return{
    position: absolute;
    top: 2%;
    left: 1%;
}
.btnback{
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #004362 ;
    animation-name: btnback ;
    animation-duration: 1s;
}

@keyframes btnback{
    from{
        transform: translateY(-800%);
    } to {
        transform: translateY(0);
    }
}
.btnback a{
    color: white;
    text-decoration: none;
    font: bold 11pt Arial;
}
